@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=font:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-thin {
    font-family: "font", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-extralight {
    font-family: "font", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.font-light {
    font-family: "font", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.font-regular {
    font-family: "font", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-medium {
    font-family: "font", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-semibold {
    font-family: "font", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-bold {
    font-family: "font", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-extrabold {
    font-family: "font", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.font-black {
    font-family: "font", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.font-thin-italic {
    font-family: "font", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.font-extralight-italic {
    font-family: "font", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.font-light-italic {
    font-family: "font", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.font-regular-italic {
    font-family: "font", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font-medium-italic {
    font-family: "font", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.font-semibold-italic {
    font-family: "font", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.font-bold-italic {
    font-family: "font", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.font-extrabold-italic {
    font-family: "font", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.font-black-italic {
    font-family: "font", sans-serif;
    font-weight: 900;
    font-style: italic;
}